<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">
  <servlet>
    <servlet-name>requests</servlet-name>
    <servlet-class>com.example.appengine.requests.RequestsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logging</servlet-name>
    <servlet-class>com.example.appengine.requests.LoggingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>requests</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>requests</servlet-name>
    <url-pattern>/requests</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logging</servlet-name>
    <url-pattern>/logs</url-pattern>
  </servlet-mapping>
</web-app>
