# Code owners file.
# This file controls who is tagged for review for any given pull request.

# The java-samples-reviewers team is the default owner for anything not
# explicitly taken by someone else.
*                         @GoogleCloudPlatform/java-samples-reviewers
