<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>enqueue</servlet-name>
        <servlet-class>com.example.appengine.taskqueue.push.Enqueue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>worker</servlet-name>
        <servlet-class>com.example.appengine.taskqueue.push.Worker</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>enqueue</servlet-name>
        <url-pattern>/enqueue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>worker</servlet-name>
        <url-pattern>/worker</url-pattern>
    </servlet-mapping>
</web-app>
