<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
  <session-factory>

    <!-- [START spanner_hibernate_config] -->
    <!-- Connection settings -->
    <property name="hibernate.dialect">org.hibernate.dialect.SpannerDialect</property>
    <property name="hibernate.connection.driver_class">com.google.cloud.spanner.jdbc.JdbcDriver</property>
    <property name="hibernate.connection.url">jdbc:cloudspanner:/projects/{YOUR_PROJECT_ID}/instances/{YOUR_INSTANCE_ID}/databases/{YOUR_DATABASE_ID}</property>
    <!-- [END spanner_hibernate_config] -->

    <!-- Print executed SQL to stdout -->
    <property name="show_sql">true</property>

    <!-- Update database on startup -->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <!-- Annotated entity classes -->
    <mapping class="com.example.spanner.Person"/>
    <mapping class="com.example.spanner.TypedPerson"/>
    <mapping class="com.example.spanner.Payment"/>
    <mapping class="com.example.spanner.WireTransferPayment"/>
    <mapping class="com.example.spanner.CreditCardPayment"/>

  </session-factory>
</hibernate-configuration>
