# Ignore the following files and directories from the Cloud Build commands.
.idea/
.vscode/
kafka/
kafka_2.12-2.4.0/
target/
dependency-reduced-pom.xml

# Do an exception for the compiled jar files, we want those for the build.
!target/*.jar
