<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- "specify filepath where log file will generate -->
        <!-- "application-name" is a variable -->
        <File>filepath/${application-name}.log</File>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d %p %t %c - %m%n</Pattern>
        </layout>
    </appender>
    <root level="debug">
        <appender-ref ref="FILE"/>
    </root>
</configuration>
